.custom-navbar {
    background-color: #2B183F !important;
}

.nav-link {
    color: #AB90BE;
    font-size: 1.2em;
    border-bottom: solid 3px #9d59ce00;
}

.nav-link:hover {
    color: #9E59CE;
    font-size: 1.2em;
}

.nav-link.active {
    color: #c9aadf !important;
    border-bottom: solid 3px #9E59CE;
}